:root {
    --back1: #d6f54f;
    --back2: green;
    --black: rgb(70, 62, 62);
}

body {
    background-color: var(--back1);
    color: var(--black);

}

textarea {
    width: 100%;
    box-shadow: 5px 5px 5px black;
}

.main {
    background-color: #c1f1a1;
    margin-top: 20px;
    padding: 5px;
    position: relative;
    border-radius: 20px;
    border: 2px solid var(--black);
    font-weight: bold;
}

.btn {
    border: 2px solid var(--back2);
    width: 120px;
    font-weight: bold;
    color: var(--back2);
    background-color: var(--back1);
    box-shadow: 5px 5px 5px black;
}

header {
    /* background-color: var(--black); */
    background-image: linear-gradient(var(--black), var(--back2), var(--black));
    color: var(--back1);
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

#master {
    margin-left: 10%;
}

#show {
    background-image: linear-gradient(rgb(0, 255, 98), rgb(159, 255, 6), rgb(0, 255, 98));
    width: 300px;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-weight: bold;
}

#copiar {
    background-image: linear-gradient(rgb(0, 255, 98), rgb(159, 255, 6));
    width: 300px;
    margin: 0 auto;
    text-align: center;
    color: black;
}

.divtop {
    padding: 0 40px;
}

#clock {
    position: absolute;
    top: 10px;
    right: 20px;
}

.linke {
    text-decoration: none;
    margin-left: 30px;
    color: var(--back1);
}
button a{
    text-decoration: none;
   
    padding:  0 8px;
    border-radius: 6px;
    color: var(--back2);
}
